@font-face {
    font-family: Open-Sans;
    src: url(/Minor-Project-Dribble-Font-End/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(/Minor-Project-Dribble-Font-End/Fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(/Minor-Project-Dribble-Font-End/Fonts/Gilroy-ExtraBold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open-Sans;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 225, 255); */
}

#page1 #nav{
    height: 7vw;
    width: 100%;
    /* background-color: rgb(144, 255, 212); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

#navPart1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page1 #nav img{
    height: 2.5vw;
}

#navPart2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navPart2 button{
    padding: 0.8vw 1.5vw;
    border-radius: 50px;
    border: none;
    margin-left: 0.5vw;
    font-size: 1vw;
    font-weight: 500;
    background-color: #f8edce;
}

#navPart2 button:nth-child(2){
    background-color: black;
    color: white;
}

#content{
    height: calc(100% - 7vw);
    width: 100%;
    /* background-color: red; */
    padding-top: 5vw;
}

#content h3{
    background-color: #f8b2f2;
    width: fit-content;
    padding: 0.2vw 2vw;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.9vw;
}

#content h1{
    font-family: Merriweather;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 4vw;
    font-weight: 200;
    padding: 2vw 0vw;
    line-height: 4vw;
}

#content #h4{
    background-color: #f5eb96;
    width: fit-content;
    padding: 0.2vw 2vw;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2vw;

}

#content button{
    padding: 0.8vw 1.5vw;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 1vw;
    font-weight: 500;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 1vw;
}

#MOVE{
    width: 200%;
    display: flex;
}

#bottom{
    width: 100%;
    height:22vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    /* white-space: nowrap; p2 */
    overflow-x: auto;
    overflow-y: hidden;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#bottom::-webkit-scrollbar{
    display: none;
}

.elem{
    flex-shrink: 0;
    /* display: inline-block; p2 */
    height: 100%;
    width: 18vw;
    background-color: burlywood;
    border-radius: 30px;
    margin-right: 1vw;
    overflow: hidden;
    position: relative;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem .text-bottom{
    height: 25%;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: black; */
    color: wheat;
}

.elem h4{
    margin-left: 1vw;
    font-size: 1vw;
}

.tag{
    display: flex;
}
.elem h5{
    padding: 0vw 0.5vw;
    margin-left: 1vw;
    margin-top: 1vw;
    border: 1px solid white;
    border-radius: 20px
}


#page2{
    height: 100%;
    width: 100%;
    /* background-color: wheat; */
    padding: 0vw 1vw;
}

#explore{
    margin-top: 12vw;
}

#explore h1{
    text-align: center;
    font-family: Merriweather;
    font-size: 3vw;
    font-weight: 200;
    margin-bottom: 1vw;
}

.box{
    height: 18vw;
    width: 22vw;
    /* background-color: red; */
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 1vw;
    position: relative;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-btm{
    height: 40%;
    width: 100%;
    background: linear-gradient( transparent, rgb(0, 0, 0));
    position: absolute;
    bottom: -40%;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0vw 2vw;
}

.box:hover .box-btm{
    bottom: 0;
}

.box-btm h6{
    font-size: 1vw;
}

.box-btm i{
    font-size: 1vw;
    color: black;
    font-weight: 500;
    background-color: white;
    padding: 0.8vw;
    border-radius: 50%;
}

.box:hover{
    box-shadow: 0px 5px 20px black;
}
